html{
	height: 100%;
}
body{
	height: 100%;
	background-color: rgb(229,214,182);
	/*background-image: url(../assets/gameofthorne.png);*/
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: black;
	overflow:hidden;
}
#contactus{
	font-size: 4vw;
	font-family: GameofThrones;
	color: #000;
}
.box-feature{
	font-weight: bold;
	min-height: 30vh;
}
#contactdetails h1{
	font-size: 2vw;
	/*position: absolute;transform: translate(-50%,-50%);top: 40%;left: 50%;*/
}
#contactdetails h2{
	font-size: 1.5vw;
	/*position: absolute;transform: translate(-50%,-50%);top: 60%;left: 50%;*/
}
#footer{
	position: absolute;
	bottom: 0;
}
@media screen and (max-height: 646px) {
	body{
		overflow-y:scroll;
	}
	#footer{
		position: static;
		bottom: auto;
	}
}
@media screen and (max-width: 768px) {
	body{
		overflow-y: visible;
	}
	#footer{
		position: static;
		bottom: auto;
	}
	#contactus{
		font-size: 7vw;
	}
	#contactdetails h1{
		font-size: 4vw;
	}
	#contactdetails h2{
		font-size: 3vw;
	}
}