@font-face {
  font-family: TransformersFont;
  src: url(../assets/fonts/TransformersFont.ttf);
}
@font-face {
  font-family: harrypotterfont;
  src: url(../assets/fonts/harrypotterfont.TTF);
}
@font-face {
  font-family: fastandfuriousfont;
  src: url(../assets/fonts/fastandfuriousfont.TTF);
}
@font-face {
  font-family: phorssa;
  src: url(../assets/fonts/phorssa.TTF);
}
@font-face {
  font-family: BenguiatBold;
  src: url(../assets/fonts/BenguiatBold.ttf);
}
@font-face {
  font-family: GameofThrones;
  src: url(../assets/fonts/GameofThrones.ttf);
}
@font-face {
  font-family: BreakingBad;
  src: url(../assets/fonts/BreakingBad.otf);
}
@font-face {
  font-family: disco;
  src: url(../assets/fonts/disco.ttf);
}
@font-face {
  font-family: NuevoDisco;
  src: url(../assets/fonts/NuevoDisco.ttf);
}