html{
	height: 100%;
}
body{
	height: 100%;
	background-image: url("../assets/strangerthings.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	overflow: hidden;
}
#workshop-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#workshop-container::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#workshop-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(186,42,52);
}

#workshop-container{
	height: 70% !important;
	overflow-y: auto !important;
	overflow-x: hidden;
	width: 100%;
}
#workshop_1{
	background-image: url("../assets/aws_logo.png");
}
#workshop_2{
	background-image: url("../assets/nvidia_logo.png");
}
#workshop_3{
	background-image: url("../assets/ai_logo.gif");
}
#workshop_4{
	background-image: url("../assets/3d_logo.jpg");
}
#workshop_5{
	background-image: url("../assets/project_logo.jpg");
}
#workshop_6{
	background-image: url("../assets/linux_logo.png");
}
#workshop_7{
	background-image: url("../assets/hacking_logo.jfif");
}
#workshop_8{
	background-image: url("../assets/blockchain_logo.jpg");
}

.workshop-card{
	min-height: 200px;
	margin: 3vw;
	padding: 0px !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*border:2px solid white; */
}
.workshop-card:hover .overlay{
	opacity: 1;
}
.overlay{
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.4s;
	background-color: rgba(0,0,0,0.77);
}
.overlay h1{
	font-size: 2vw;
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
}
#work_h{
	font-family: BenguiatBold;
	font-size: 6vw;
	color: transparent;
	text-shadow: 5px 5px 1px white, 0 0 0px rgb(2,37,71);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  font-family: BenguiatBold;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url("../assets/workshopbg.png");
  margin: auto;
  padding: 2vw;
  width: 70%;
  height: 70%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-50%; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-50%; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #FFFFFF;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	.overlay{
		opacity: 1;
	}
	.overlay h1{
		font-size: 5vw;
	}
	#work_h{
		font-size: 10vw;
	}
	.modal {
		height: 100%;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.modal-content{
		height: 100%;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
}