* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: sans-serif
}

@font-face {
    font-family: nidsans;
    src:url("../assets/fonts/nidsans-webfont.ttf");
}

.heading>h2 {
    font-family: nidsans;
    font-size: 3.5vw;
    color: #f7bd02;
    text-shadow: 3px 3px #555;
}

.heading:hover .heading-underline {
    transform: scaleX(1);
}

.heading-underline {
    width: 10vw;
    height: 5px;
    background-color: #f7bd02;
    margin: 15px auto 50px auto;
    transform: scaleX(0.7);
    transition: transform 0.5s;
}

.col-md-4 {
    margin-bottom: 20px;
}

.lightbox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card {
    width: 22vw;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #f7bd02;
}

@media screen and (max-width: 767px) {
    .card {
        margin: 0 auto;
        max-width: 100%;
        width: 80vw;
    }

    .heading>h2 {
        font-size: 8vw;
    }

    .heading-underline {
        width: 30vw;
    }

    .larger-card .col-md-4:nth-child(2) {
        top: 14%;
    }

    .larger-height .col-md-4:first-child {
        margin-top: 14%;
    }
}