* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.side-navbar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 40px 0 30px -40px #000;
}

.side-navbar li {
    list-style-type: none;
    transition: all 0.2s ease 0s;
}

.side-navbar li:hover {
    transform: scale(1.3);
}

.side-navbar li>a {
    display: inline-block;
    padding: 20px 15px;
    position: relative;
    font-size: 1.5vw;
    color: #eee;
}

.side-navbar li>a:hover {
    text-decoration: none;
}

/*background-color: #383838;*/